@{
    ViewBag.Title = "Home Page";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("Member Register", "Index", "Society")</li>
        <li>@Html.ActionLink("Admin", "AdminLogin", "Admin")</li>

    </ul>
</nav>